* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #dddddd;
}

#navbar {
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.9);
}

.navTitle {
    letter-spacing: 5px;
    text-shadow: 1px 1px rgb(67, 56, 202);
}

#repo-name {
    color: #FFF;
    background-color: #3b3b3b;
    width: 50px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 3px;
    font-weight: 700;
    border-bottom-right-radius: 10px;
    transition: 0.2s ease-in-out;

}

#repo-name:hover {
    background-color: #4338CA;
    color: #fdfdfdee;
}

#repos {
    /* border: 2px solid rgb(0, 0, 0); */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    flex-grow: 1;
    justify-content: center;
    margin: auto;
    align-items: flex-start;
}

#repos > div {
    margin-top: 10px;
    margin-bottom: 10px;
}

#singleRepo {
    /* border: 2px solid rgb(158, 202, 56); */
    width: 383px;
    height: 310px;
     flex-grow: 1;
     justify-content: space-evenly;
     align-items: flex-start;
     border-top-right-radius: 10px;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
     background-color: rgb(224, 224, 224);
     box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }


#repoTitle {
    /* border: 2px solid rgb(163, 35, 255); */
    min-height: 200px;
    border-bottom: 2px solid #8b87bd;
}
#repoTitle > p {
    padding-left: 5px;
    color: #3b3b3b;
    font-weight: 600;
    margin-top: 5px;
    max-width: 400px;
    word-wrap: break-word;
}

#repoStats {
    border-bottom: 2px solid #8b87bd;
    padding-bottom: 3px;
    padding-top: 10px;
}

#repoStats > span {
    background-color: #3b3b3b;
    margin-right:  5px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #FFF;
    /* font-weight: 600; */
}

#languages {
    margin-top: 5px;
}

@media screen and (min-width: 1600px) {
    #repos {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #repos > div {
        flex: 0 0 0%; 
        margin: 0px; 
    }
    #repoStats > span {
        font-size: 14.5px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        
        
    }
  }
  @media screen and (min-width: 1028px) {
    #repos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; /* This ensures that items are evenly spaced */
    }
    #repos > div {
        flex: 1 1 30%; /* Adjusts the basis to around 30% to allow three items per row */
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

input {
    padding: 4px;
}

#searchUser {
    border: 1px solid slategray;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


#searchBtn {
    /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: 0.3s ease;
    padding-top: 9.2px;
    padding-bottom: 9.2px;
    background-color: #3b3b3b;
    color: #FFF;
}
#searchBtn:hover {
    box-shadow: none;
    background-color: #4338CA;
}

.icon {
    max-width: 2.5m;
    max-height: 2.5em;
    background-color: rgb(31, 31, 31);
    padding: 4px;
    border-radius: 10px;
    margin-right: 3px;
}

.avatar {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}